*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
}

#body{
    width: 100%;
}

header{
    background-image: linear-gradient(to right, #EDEDED 30%,#35497C 30%);
}

header nav{
    width: 100%;
    max-width: 1280px;
    height: 80px;
    background-color:#35497C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header label, header #botaomenu{
    display: none;
}

header nav menu{
    height: 80px;
    overflow: hidden;
    list-style: none;
    flex-grow: 6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li a{
    text-decoration: none;
}

header li{
    transition: all 500ms ease;
}

header li:hover{
    border-bottom: 1px solid #71CF4F;
    transform:scale(1.05);
}

header menu a{
    color: #EDEDED;
    font-size: 22px;
}

.limite{
    max-width: 1280px;
    margin: 0 auto;
}

#imagemtopo{
    flex-grow: 2;
    height: 80px;
    padding: 10px;
    background-color: #EDEDED;
}

.degrade{
    flex-grow: 1;
    height: 80px;
    background-image: linear-gradient(to right bottom, #EDEDED 50%, #35497C 51%);
}

.navhome{
    border-bottom: 2px solid #71CF4F;
}

.imagemtopo{
    height: 55px;
}

@media(max-width: 851px){
    header{
        background-color: #FFFFFF;
        background-image: none;
        padding-left: 30px;
        padding-right: 30px;
    }

    header nav{
        height: 100px;
        background-color: #FFFFFF;
        justify-content: space-around;
        align-items: center;
        gap: 20px
    }

    header nav menu{
        height: 0;
        overflow: hidden;
        transition: all 500ms ease;
        background-color: #35497C;
        border-radius: 10px;
    }

    #botaomenu:checked + menu{
        height: 60px;
    }

    header label{
        display: block;
        align-self: flex-start;
        font-size: 50px;
        height: 100px;
        display: grid;
        place-items: center;
        color: #12B1CE;
        font-size: 70px;
        font-weight: bold;
    }

    header menu a{
        color: #EDEDED;
        font-size: 18px;
    }
    
    #imagemtopo{
        display: none;
    }

    .degrade{
        display: none;
    }
    
    header a{
        font-size: 18px;
    }

    header a:hover{
        border-bottom: 1px solid #71CF4F;
        transform:scale(1.1);
    }
}

@media(max-width: 671px){
    header{
        height: auto;
        padding: 10px;
    }

    header nav{
        height: 400px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        background-image: url('../imagens/logos/logo_normal.png');
        background-position: center 100px;
        background-size: 350px;
        background-repeat: no-repeat;
    }

    header nav menu{
        height: 0;
        width: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 1px 2px 5px rgb(88, 88, 88);
    }

    #botaomenu:checked + menu{
        height: 40px;
        width: 180px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }

    header menu li{
        border-bottom: 2px dashed #FFFFFF;
        padding: 2px;
        width: 100%;
        text-align: center;
    }

    .navhome{
        border-bottom: none;
    }

    header li:hover{
        border-bottom: 2px dashed #71CF4F;
        transform:scale(1.1);
    }

    header menu li a{
        font-size: 20px;
    }

    header menu li a:hover{
        border-bottom: none;
    }
}

.chamada{
    height: 820px;
    width: 100%;
    padding: 30px;
    background-image: url('../imagens/logos/logo_normal.png'), url('../imagens/imagens/cidade.jpg');
    background-repeat: no-repeat;
    background-position: center 250px, center center;
    background-size: 370px, 2000px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (max-width:851px){
    .chamada{
        height: 600px;
        background-position: center 150px, center center;
        background-size: 370px, 1000px;
    }
}

@media(max-width: 671px){
    .chamada{
        background-image: none;
        height: 200px;
        padding: 10px;
        background-image: url("../imagens/imagens/cidade.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        place-items: center;
        border-bottom: 7px solid #71CF4F;
        border-top: 7px solid #71CF4F;
    }
}

.textchamada{
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 3px 2px 5px rgb(97, 97, 97);
}

.destaque{
    color: #30671C;
    text-shadow: 3px 2px 5px rgb(156, 156, 156);
}

.decor{
    text-decoration: solid underline;
}

#navegacao{
    background-color: #FFFFFF;
}

#navegacao hr{
    width: 100px;
    height: 3px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.es:hover, .sm:hover, .ga:hover, .gl:hover{
    transform:scale(1.05);
}

.es{
    grid-area: estrategia;
}

.sm{
    grid-area: social;
}

.ga{
    grid-area: google;
}

.gl{
    grid-area: geracao;
}

.navegacao{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 'estrategia social orcamento'
                         'google geracao orcamento';
    gap: 25px;
    padding: 20px;
}

.es, .sm, .ga, .gl{
    background-image: url('../imagens/imagens/fundoazul.jpg');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center center;
    font-size: 26px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.or{
    grid-area: orcamento;
    background-color: #A6A6A6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#navegacao .or hr{
    height: 5px;
    width: 40%;
    background-color: #71CF4F;
    border: 1px solid #71CF4F;
}

.or h3{
    color: #FFFFFF;
    text-shadow: 3px 2px 5px rgb(97, 97, 97);
    font-size: 28px;
}

.infos{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.or p{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #292929;
    background-color: #FFFFFF;
}

@media (max-width: 1024px){
    .navegacao{
        grid-template-columns: repeat(2,2fr) 3fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "estrategia social orcamento"
                             "google geracao orcamento";
    }

    .es, .sm, .ga, .gl{
        font-size: 22px;
    }

    .or h3{
        font-size: 24px;
    }

    .textchamada{
        font-size: 60px;
    }
}

@media (max-width: 851px){
    .navegacao{
        height: 950px;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,1fr) 2fr;
        grid-template-areas: "estrategia social"
                             "google geracao"
                             "orcamento orcamento";
    }

    .textchamada{
        font-size: 50px;
    }
}

@media (max-width: 671px){
    .navegacao{
        height: 800px;
    }

    .es, .sm, .ga, .gl{
        font-size: 18px;
    }

    .textchamada{
        font-size: 42px;
    }

    .infos{
        width: 90%;
        gap: 12px;
    }

    .or p{
        font-size: 16px;
        padding: 8px;
        border-radius: 5px;
    }
}


@media (max-width: 426px){
    .es, .sm, .ga, .gl{
        font-size: 16px;
    }

    .textchamada{
        font-size: 38px;
    }
}

.bigbotao{
    transition: all 750ms ease;
    box-shadow: 3px 5px 5px rgb(158, 158, 158);
}

.botao1{
    background-color: #71CF4F;
    border: none;
    padding: 10px 15px;
    box-shadow: 3px 2px 5px rgb(97, 97, 97);
    border-radius: 10px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

.botao1:hover{
    background-color: #64a84b;
}

#blog{
    background-color: #12B1CE;
    background-image: url('../imagens/imagens/predio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    border-top: 7px solid #30671C;
    border-bottom: 7px solid #30671C;
}

.blog{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 700px;
}

.posts{
    height: 575px;
    width: 475px;
    background-color: #71CF4F;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.perfil{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 28px;
    gap: 10px;
}

.perfil img{
    width: 80px;
    height: 80px;
}

.textoposts{
    width: 90%;
    font-size: 20px;
}

.textoposts p, .perfil h3{
    color: white;
    font-weight: 600;
}

.posts .postbotao{
    width: 100%;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botao2{
    background-color: #12B1CE;
    border: none;
    padding: 10px 15px;
    box-shadow: 3px 2px 5px rgb(97, 97, 97);
    border-radius: 10px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    align-self: end;
}

.botao2:hover{
    background-color: #2492a5;
}

@media(max-width: 1024px){
    #blog{
        height: 800px;
    }
    
    .blog{
        height: 800px;
    }

    .posts{
        height: 700px;
        width: 400px;
    }

    .perfil h3{
        font-size: 24px;
    }

    .perfil img{
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 851px){
    #blog{
        height: 1300px;
    }
    
    .blog{
        height: 1300px;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .posts{
        height: 575px;
        width: 475px;
    }
}

@media(max-width: 570px){
    #blog{
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    .blog{
        height: auto;
        gap: 50px;
    }

    .posts{
        gap: 10px;
        padding: 20px;
        height: auto;
        width: 90%;
    }
}

#parceiros{
    background-color: #FFFFFF;
    height: 250px;
}

.parceiros{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.parceiros h3{
    font-size: 32px;
    color: #71CF4F;
}

.empresas{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.empresas .itau{
    width: 80px;
}

.empresas .meta{
    width: 220px;
}

.empresas .google{
    width: 220px;
}

.empresas .magnesita{
    width: 130px;
}

.empresas .googleads{
    width: 180px;
}

@media(max-width: 1024px){
    #parceiros{
        height: 400px; 
    }
    
    .parceiros{
        height: 400px;
    }

    .empresas{
        height: 250px;
        flex-wrap: wrap;
        gap: 35px
    }

    .empresas .itau{
        width: 100px;
    }
    
    .empresas .meta{
        width: 230px;
    }
    
    .empresas .google{
        width: 230px;
    }
    
    .empresas .magnesita{
        width: 150px;
    }
    
    .empresas .googleads{
        width: 200px;
    }
}

@media(max-width: 670px){
    #parceiros{
        height: 550px; 
    }

    .parceiros{
        height: 550px;
    }

    .empresas{
        height: 400px;
    }

    .empresas .itau{
        width: 80px;
    }
    
    .empresas .meta{
        width: 220px;
    }
    
    .empresas .google{
        width: 220px;
    }
    
    .empresas .magnesita{
        width: 130px;
    }
    
    .empresas .googleads{
        width: 180px;
    }
}

@media (max-width: 425px){
    .empresas .itau{
        width: 50px;
    }
    
    .empresas .meta{
        width: 190px;
    }
    
    .empresas .google{
        width: 190px;
    }
    
    .empresas .magnesita{
        width: 100px;
    }
    
    .empresas .googleads{
        width: 150px;
    }
}

#historia{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(to right, #EDEDED 35%, #A6A6A6 35%);
}

.historia{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'img texto';
}

.imagemhistoria{
    grid-area: img;
    background-color: #EDEDED;
    background-image: url('../imagens/logos/logo_normal_2.png'), url('../imagens/imagens/globo.png');
    background-size: 300px, 400px;
    background-position: center, center;
    background-repeat: no-repeat;
}

.textohistoria{
    grid-area: texto;
    background-color: #A6A6A6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
    color: #FFFFFF;
}

.textohistoria h1{
    font-size: 46px;
    text-align: center;
    text-shadow: 2px 5px 5px rgb(97, 97, 97);
}

.textohistoria p{
    font-size: 20px;
    text-align: center;
}

.historia hr{
    height: 5px;
    background-color: #FFFFFF;
    width: 300px;
}

@media (max-width: 1024px){
    .historia{
        height: 900px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 'img'
                             'texto';
    }

    #historia{
        height: 900px;
    }

    .textohistoria h1{
        font-size: 36px;
    }
}

@media (max-width: 570px){
    .historia{
        height: 1200px;
        grid-template-rows: 1fr 2fr;
    }

    #historia{
        height: 1200px;
    }
}

@media (max-width: 425px){
    .historia{
        height: auto;
        grid-template-rows: 1fr 2fr;
        width: 100%;
    }

    #historia{
        height: auto;
        width: 100%;
    }

    .imagemhistoria{
        width: 100%;
        height: auto;
        background-size: 250px, 350px;
    }

    .textohistoria{
        height: auto;
        width: 100%;
        gap: 20px;
        padding: 20px 40px;
    }
    
    .historia hr{
        width: 90%;
    }
}

#cases{
    height: 600px;
    width: 100%;
    background-image: url('../imagens/imagens/sala.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.cases{
    background-color: #FFFFFF;
    height: 510px;
    width: 510px;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(102, 102, 102);
    transition: all 750ms ease;
}

.cases:hover{
    transform: scale(1.05);
}

.textocases{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.textocases h1{
    font-size: 46px;
    color: #30671C;
    text-shadow: 2px 5px 5px rgb(97, 97, 97);
}

@media (max-width: 851px){
    .textocases h1{
        font-size: 38px;
    }
}

.textocases h3{
    font-size: 32px;
}

.textocases p{
    text-align: center;
    font-size: 20px;
}

@media(max-width: 570px){
    #cases{
        height: 750px;
    }
    
    .cases{
        height: 600px;
        width: 390px;
        border-radius: 30px;
        padding: 25px;
    }

    .textocases{
        height: 550px;
    }

    .textocases h1{
        font-size: 40px;
        color: #30671C;
        text-shadow: 2px 5px 5px rgb(97, 97, 97);
    }

    .textocases h3{
        font-size: 28px;
    }
}

@media (max-width: 425px){
    #cases{
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .cases{
        width: 90%;
        height: auto;
    }

    .textocases{
        height: auto;
        width: 100%;
    }
}

.botao3{
    background-color: #30671C;
    border: none;
    padding: 10px 15px;
    box-shadow: 3px 2px 5px rgb(97, 97, 97);
    border-radius: 10px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

.botao3:hover{
    background-color: #2b541d;
}

footer{
    background-color: #35497C;
    height: 200px;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.rodape .redes img{
    height: 50px;
}

.rodape .imagemfim{
    text-align: center;
}

.rodape .imagemfim img{
    height: 140px;
}

.rodape .contato p, .rodape .imagemfim p{
    color: #FFFFFF;
    font-weight: 300;
}

@media (max-width: 570px){
    footer{
        height: 400px;
    }
    
    .rodape{
        flex-direction: column;
        justify-content: space-evenly;
        height: 400px;
    }

    .redes{
        order: 2;
    }
}
